:root {
  --primary-color: #C6E7FF;
  --secondary-color: #D4F6FF;
  --background-color: #FBFBFB;
  --accent-color: #FFDDAE;
  --text-color: #333; /* Default dark text for readability */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
}

.button {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
}

.ccard {
  background-color: var(--background-color);
  border: 1px solid var(--primary-color);
  padding: 15px;
  border-radius: 10px;
}

.link {
  color: var(--accent-color);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.primary-background {
  background-color: var(--primary-color);
}

.secondary-background {
  background-color: var(--secondary-color);
}