<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  {%- include "headers.html" %}
  {% from 'bootstrap5/form.html' import render_form %}
  {% from "macros/flash.html" import render_flashes %}
</head>

<body>
  {%- include "components/navbar.html" %}

  {{ render_flashes() }}
  <div class="container mt-2">
    <h3>Login</h3>
    {{ render_form(form) }}

    <p class="mt-2">Don't have an account? <a href="/register">Create an account!</a></p>
  </div>
</body>

</html>